@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("ProductListPriceFilterViewComponentPartial")
            @await Component.InvokeAsync("ProductListColorFilterViewComponentPartial")
            @await Component.InvokeAsync("ProductListSizeFilterViewComponentPartial")
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("ProductListGetProductCountViewComponentPartial")
                @await Component.InvokeAsync("ProductListViewComponentPartial", new { id = ViewBag.i })
                @await Component.InvokeAsync("ProductListPaginationViewComponentPartial")
            </div>
        </div>
    </div>
</div>