@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>@localizer["Merhaba"] bugün @localizer["hava"] çok sıcak siz nasıl burada rahatça oturuyorsunuz. Çünkü bu sıcak havada sadece denize girilir. Sıcak hava bugün iyice arttı. Hava durumu şu anda gölgede 30 derecenin üstünde yani çok çok sıcak.</h1>