@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("UILayoutHeaderViewComponentPartial")

<body>

    @await Component.InvokeAsync("UILayoutTopbarViewComponentPartial")

    @await Component.InvokeAsync("UILayoutNavbarViewComponentPartial")

    @await Component.InvokeAsync("UILayoutDirectoryAlertViewComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("UILayoutFooterViewComponentPartial")

    @await Component.InvokeAsync("UILayoutScriptViewComponentPartial")
    
</body>

</html>
