@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h3 class="alert alert-success">Dolar Alış : @ViewBag.exchangeRateUSD ---------- Dolar Satış : @ViewBag.previous_closeUSD</h3>
    <h3 class="alert alert-success">Euro Alış : @ViewBag.exchangeRateEUR ---------- Euro Satış : @ViewBag.previous_closeEUR</h3>
</div>