@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Kategori Adı</th>
                                <th class="text-center">Sil</th>
                                <th class="text-center">Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row" class="text-center">@count</th>
                                    <td class="text-center">@item.CategoryName</td>
                                    <td class="text-center"><a href="@Url.Action("DeleteCategory", "Category", new { area = "Admin", id = item.CategoryId })" class="btn btn-danger">Sil</a></td>
                                    <td class="text-center"><a href="@Url.Action("UpdateCategory", "Category", new { area = "Admin", id = item.CategoryId })" class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Admin/Category/CreateCategory/" class="btn btn-success">Yeni Kategori</a>
                </div>
            </div>
        </div>
    </div>
</section>