@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">

        @await Component.InvokeAsync("ShoppingCartProductListViewComponentPartial")

        @await Component.InvokeAsync("ShoppingCartDiscountCouponViewComponentPartial")

    </div>
</div>
